torch==1.6.0
#dask[dataframe]
#dask[distributed]
#keybert
#bertopic
jieba
seaborn
sqlite_utils
sqlitefts
icecream
protobuf
#snorkel
pyarrow
transformers==3.0.2
seqeval==0.0.12
pytorch-crf==0.7.2
rank_bm25
nltk


